@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  --background: rgb(242, 242, 242);
  --foreground: #171717;
  --navbackground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: rgb(242, 242, 242);
    --nav-background: #1e1e1e;
    --postcard-background: #1e1e1e;
    --btn-hover-background: rgb(183, 233, 116);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
