@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  background-color: rgb(240, 242, 246);
  color: black;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}
